</td>
</tr>
</tbody>
</table>
<table style="width: 100%;">
    <tbody>
    <tr>
        <td style="width: 100%;height: 5px;background-color: #304f9f;"></td>
    </tr>
    <tr>
        <td style="width: 100%;text-align: center;">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td><p style="margin-top: 10px;">{{ 'email.footer.join'|trans|upper }}</p></td>
                </tr>
                <tr align="center">
                    <td>
                        <table style="max-width: 170px;width: 100%;">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <a href="https://www.facebook.com/freedomportagesalarial/" target="_blank">
                                        <img style="max-width:100%;height:auto;width: 24px;" src="{{ absolute_url(asset('build/images/social/facebook.png')) }}" alt="{{ 'email.img.alt.social.facebook'|trans }}">
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="https://twitter.com/freedomportage" target="_blank">
                                        <img style="max-width:100%;height:auto;width: 24px;" src="{{ absolute_url(asset('build/images/social/twitter.png')) }}" alt="{{ 'email.img.alt.social.twitter'|trans }}">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>
