
<section class="row img-background-first-section" id="accueil">
    <div class="form-background-first-section-enterprise col-12">
        <div class="row">
            <div class="col-md-5 col-12 mt-5 offset-md-1">
                <div class="row mt-4 ml-4">
                    <h1 class="col-12 title-first-section">Les meilleurs talents<br/>sont sur <span class="title-color-first-section-enterprise">Freelance Officer</span></h1>
                </div>
                <div class="row mt-3 ml-4">
                    <p class="col-12 text-first-section">
                        Plus qu’une plateforme, Freelance Officer est un service de mise en relation basé sur la fiabilité et l’engagement des prestataires.<br/>
                        Freelance Officer sélectionne et qualifie les profils avec le filtre de ses experts afin de s’assurer que le professionnel proposé correspond au besoin exprimé.<br/>
                        Si la mission est effectuée en portage avec nos partenaires, la mise en relation ne coûte que 5% du montant de la prestation.
                    </p>
                </div>
                <div class="row my-5 ml-4">
                    <div class="col-12">
                        <a class="btn-text-normal" href="{{ path('app_register', {'mode': 'enterprise'}) }}"><button type="button" class="btn btn-white btn-text-normal ml-0">{{ 'menu.items.registration'|trans }}</button></a>
                        <a class="white-text" href="{{ path('app_login', {'mode': 'enterprise'}) }}"><button type="button" class="btn btn-outline-white btn-text-normal waves-effect">{{ 'menu.items.connection'|trans }}</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="freelance_advantage">
    <div class="row py-4">
        <h5 class="quelsSontLes col-12 text-center">Quels sont les</h5>
        <h4 class="avantagesDeFreelanceOfficer col-12 text-center">Avantages de Freelance Officer</h4>
    </div>
    <div class="row pb-4">
        <div class="col-md-1"></div>
        <div class="col-md col-sm-6 col-12">
            <div class="row">
                <img class="col-12 advantage-img pb-4" src="{{ asset('build/images/handshake.svg') }}"/>
                <h3 class="col-12 advantage-title">On s’occupe de tout</h3>
                <p class="col-12 advantage-text">Nous sélectionnons les profils correspondant à votre besoin</p>
            </div>
        </div>
        <div class="col-md col-sm-6 col-12">
            <div class="row">
                <img class="col-12 advantage-img pb-4" src="{{ asset('build/images/team-2.svg') }}"/>
                <h3 class="col-12 advantage-title">Les meilleurs talents</h3>
                <p class="col-12 advantage-text">Notre philosophie se base sur la confiance et non la notation. Nos freelances s’engagent à notre égard sur la qualité de leurs prestations et la bonne fin de leurs missions. Ne sont proposés que des prestataires qui ont toujours respecté ces engagements. Vous êtes donc assuré d’échanger avec des professionnels fiables.</p>
            </div>
        </div>
        <div class="col-md col-sm-6 col-12">
            <div class="row">
                <img class="col-12 advantage-img pb-4" src="{{ asset('build/images/alarm-clock.svg') }}"/>
                <h3 class="col-12 advantage-title">Gain de temps</h3>
                <p class="col-12 advantage-text">A mi chemin entre une plateforme, un cabinet de recrutement et un coach, nous sommes votre Freelance Officer!</p>
            </div>
        </div>
        <div class="col-md col-sm-6 col-12">
            <div class="row">
                <img class="col-12 advantage-img pb-4" src="{{ asset('build/images/statistics.svg') }}"/>
                <h3 class="col-12 advantage-title">Productivité</h3>
                <p class="col-12 advantage-text">Plus besoin d’aller à la chasse au bon interlocuteur, nous le faisons à votre place, avec une intervention humaine et une compréhension de vos aspirations</p>
            </div>
        </div>
        <div class="col-md col-sm-6 col-12">
            <div class="row">
                <img class="col-12 advantage-img pb-4" src="{{ asset('build/images/love.svg') }}"/>
                <h3 class="col-12 advantage-title">Satisfaction Garantie</h3>
                <p class="col-12 advantage-text">Parce qu’il nous interpose comme tiers de confiance entre le freelance et vous.</p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>
<section class="row pb-4 who-we-are-card-background pt-5" id="freelance_qui">
    <div class="col-md-2"></div>
    <div class="col-md-4 col-12">
        <h4 class="row mb-0 freelanceOfficer17df3a94">Freelance Officer</h4>
        <h2 class="row quiSommesNous6e91ed28">Qui sommes-nous ?</h2>
        <p class="row mt-4 mb-5">
            Freelance Officer s’est créé sur un constat simple: L’entreprise doit de plus en plus s’appuyer sur des ressources externes. Les GAFAM ont largement fondé leur succès sur leurs freelance officers.<br/>
            Freelanceofficer.fr vous propose ce service gratuitement.<br/>
            Si la mission est effectuée en portage salarial auprès de notre partenaire Freedom Portage, le coût de mise en relation n’est que de 5% du montant facturé (8% sinon).
        </p>
        <div class="row pt-3">
            <a href="{{ path('app_register', {'mode': 'enterprise'}) }}"><button type="button" class="btn btn-primary btn-text-normal ml-0">{{ 'menu.items.registration'|trans }}</button></a>
            <a class="btn-text-normal" href="{{ path('app_login', {'mode': 'enterprise'}) }}"><button type="button" class="btn btn-outline-primary btn-text-normal waves-effect">{{ 'menu.items.connection'|trans }}</button></a>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <img class="col-12 who-we-are-img" src="{{ asset('build/images/e4b0b068f553b7eed52c541f80164100.png') }}"/>
    </div>
    <div class="col-md-2"></div>
</section>
<section class="row mt-4">
    <div class="col-12 mt-5">
        <div class="row">
            <h5 class="quelsSontLes col-12 text-center">Découvrez</h5>
            <h4 class="avantagesDeFreelanceOfficer col-12 text-center">Les métiers les plus recherchés</h4>
        </div>
    </div>
    <div class="col-12 text-center pt-4">
        <div class="btn btn-danger btn-text-normal btn-without-click" disabled>Développeur Front-End</div>
        <div class="btn btn-warning btn-text-normal btn-without-click" disabled>Développeur Back-End</div>
        <div class="btn btn-primary btn-text-normal btn-without-click" disabled>Data Scientist</div>
        <div class="btn btn-danger btn-text-normal btn-without-click" disabled>Administrateur systèmes et réseaux</div>
        <div class="btn btn-warning btn-text-normal btn-without-click" disabled>Coach Agile</div>
    </div>
    <div class="col-12 text-center mb-5">
        <div class="btn btn-primary btn-text-normal btn-without-click" disabled>Développeur Mobile</div>
        <div class="btn btn-danger btn-text-normal btn-without-click" disabled>UX Designer</div>
        <div class="btn btn-warning btn-text-normal btn-without-click" disabled>Product Manager</div>
        <div class="btn btn-primary btn-text-normal btn-without-click" disabled>Motion Designer</div>
    </div>
</section>
{#<section class="row team-section text-center who-we-are-card-background pt-4">#}
{#    <div class="col-12">#}
{#        <!-- Section heading -->#}
{#        <h3 class="chezFreelanceOfficer mb-4 pb-2">Chez Freelance Officer<br/><strong class="lesAvisDeNosClientsComptent">Les avis de nos clients comptent</strong></h3>#}
{#        <!-- Section description -->#}
{#        <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#            Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam#}
{#            eum porro a pariatur veniam.</p>#}

{#        <!--Grid row-->#}
{#        <div class="row text-center">#}
{#            <div class="col-md-1"></div>#}
{#            <div class="col-md-10">#}
{#                <div class="row">#}
{#                    <!--Grid column-->#}
{#                    <div class="col-md-4 col-12 mb-4">#}

{#                        <div class="testimonial">#}
{#                            <!--Avatar-->#}
{#                            <div class="avatar mx-auto">#}
{#                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">#}
{#                            </div>#}
{#                            <!--Content-->#}
{#                            <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>#}
{#                            <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>#}
{#                            <p class="font-weight-normal dark-grey-text">#}
{#                                <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod#}
{#                                eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>#}
{#                        </div>#}

{#                    </div>#}
{#                    <!--Grid column-->#}

{#                    <!--Grid column-->#}
{#                    <div class="col-md-4 col-12 mb-4">#}

{#                        <div class="testimonial">#}
{#                            <!--Avatar-->#}
{#                            <div class="avatar mx-auto">#}
{#                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">#}
{#                            </div>#}
{#                            <!--Content-->#}
{#                            <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>#}
{#                            <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>#}
{#                            <p class="font-weight-normal dark-grey-text">#}
{#                                <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam#}
{#                                corporis suscipit laboriosam, nisi ut aliquid commodi.</p>#}
{#                        </div>#}

{#                    </div>#}
{#                    <!--Grid column-->#}

{#                    <!--Grid column-->#}
{#                    <div class="col-md-4 col-12 mb-4">#}

{#                        <div class="testimonial">#}
{#                            <!--Avatar-->#}
{#                            <div class="avatar mx-auto">#}
{#                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">#}
{#                            </div>#}
{#                            <!--Content-->#}
{#                            <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>#}
{#                            <h6 class="font-weight-bold blue-text my-3">Photographer</h6>#}
{#                            <p class="font-weight-normal dark-grey-text">#}
{#                                <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et iusto odio dignissimos ducimus qui#}
{#                                blanditiis praesentium voluptatum deleniti atque corrupti.</p>#}
{#                        </div>#}

{#                    </div>#}
{#                    <!--Grid column-->#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-1"></div>#}
{#        </div>#}
{#        <!--Grid row-->#}
{#    </div>#}
{#    <div class="col-12">#}
{#        <div class="partner-end-banner row">#}
{#            <div class="col-md-2 col-12 mt-4">#}
{#                <div class="row mt-3">#}
{#                    <h5 class="partner-title-begin m-0 col-12 ml-5">Nos <strong class="partner-title-end">Partenaires</strong></h5>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-10 col-12 my-3">#}
{#                <div class="row">#}
{#                    <div class="col">#}
{#                        <img class="partner-img" src="{{ asset("build/images/poleEmploi.png") }}" />#}
{#                    </div>#}
{#                    <div class="col">#}
{#                        <img class="partner-img" src="{{ asset("build/images/moncompteformationLogo.png") }}" />#}
{#                    </div>#}
{#                    <div class="col">#}
{#                        <img class="partner-img" src="{{ asset("build/images/cmaLogo2018BleuLocalRectangle500px.png") }}" />#}
{#                    </div>#}
{#                    <div class="col"></div>#}
{#                    <div class="col"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
