<p>{{ 'email.accountConfirmation.begin'|trans({'%username%': user.firstName}) }}</p><br/>

<p>{{ 'email.accountConfirmation.content'|trans }} <a href="{{ urlActivation }}">{{ 'email.accountConfirmation.activate'|trans }}</a></p><br/><br/>

<p>{{ 'email.accountConfirmation.salutation'|trans }}<br/><br/>
{{ 'email.accountConfirmation.teamFreelance'|trans }}
</p>