<p>{{ 'email.resetEmail.begin'|trans }} {{ user.firstName }},</p><br/>

<p>{{ 'email.resetEmail.content'|trans }} <a href="{{ confirmationUrl }}">{{ 'email.resetEmail.link'|trans }}</a></p></br><br/>

<p>{{ 'email.resetEmail.salutation'|trans }}<br/><br/>
{{ 'email.accountConfirmation.teamFreelance'|trans }}
</p>
