{% trans_default_domain 'FOSUserBundle' %}


<div class="row">
    <div class="col-12 pt-4">
        <div class="row pt-4">
            <div class="col-12 text-center"><img src="{{ asset('build/images/logoFreelance.png') }}" alt="{{ 'brand.titleFreelance'|trans }}" /></div>
        </div>
        <div class="row">
            <h1 class="col-12 text-center">{{ 'change_password.submit'|trans }}</h1>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 offset-0">
                <div class="card panel-default">
                    <div class="card-body">
                        <form action="{{ path('profile_password_reset') }}" method="POST" class="fos_user_change_password">
                            <div id="fos_user_change_password">
                                <div class="col-12">
                                    <div class="row md-form mb-1">
                                        <i class="fal fa-key prefix"></i>
                                        {{ form_label(form.current_password, 'form.current_password') }}
                                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control' } }) }}
                                        {{ form_errors(form.current_password) }}
                                        {% if error is defined and error == "error.currentPassword" %}
                                        <ul>
                                            <li>{{ 'fos_user.current_password.invalid'|trans([], 'validators') }}</li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                    <div class="row md-form mb-1">
                                        <i class="fal fa-lock prefix"></i>
                                        {{ form_label(form.plainPassword.first, 'form.new_password') }}
                                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control' } }) }}
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>
                                    <div class="row md-form mb-1">
                                        <i class="fal fa-redo prefix"></i>
                                        {{ form_label(form.plainPassword.second, 'form.new_password_confirmation') }}
                                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control' } }) }}
                                        {{ form_errors(form.plainPassword.second) }}
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10">
                                            <button class="btn btn-primary btn-rounded btn-block mt-2" type="submit">{{ 'change_password.submit'|trans }}</button>
                                        </div>
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
