{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% block alternates %}

    <link rel="alternate" href="{{ base_url }}/resetting/request" hreflang="x-default"/>
    <link rel="alternate" href="{{ base_url }}/fr/resetting/request" hreflang="fr"/>
    <link rel="alternate" href="{{ base_url }}/en/resetting/request" hreflang="en"/>

{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'reset.title'|trans }}{% endblock %}
{% block navbar %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @font-face {
            font-family: "NexaXBold";
            src: url("../../Fonts/Fontfabric - NexaXBold.otf") format("opentype");
        }
        @font-face {
            font-family: "NexaBold";
            src: url("../../Fonts/Fontfabric - NexaBold.otf") format("opentype");
        }
        @font-face {
            font-family: "NexaBook";
            src: url("../../Fonts/Fontfabric - NexaBook.otf") format("opentype");
        }
        @font-face {
            font-family: "NexaLight";
            src: url("../../Fonts/Fontfabric - NexaLight.otf") format("opentype");
        }
        .title {
            font-family: 'NexaXBold';
            font-size: 30px;
            color: #162a4c;
        }
        .checkbox-remember-me {
            font-family: "NexaBook";
            font-size: 15px;
            color: #445980;
        }
        .btn-link {
            font-size: 15px;
            font-family: "NexaXBold";
            color: #0d6eed;
            font-weight: 700;
            text-decoration: underline;
        }
        .freelanceOfficerBlack {
            color: rgba(22, 42, 76, 1);
            font-weight: 700;
            font-style: normal;
            font-size: 18.00px;
            font-family: "NexaBold";
            letter-spacing: 0.23em;
            text-decoration: none;
        }
        .freelanceOfficerBlue {
            color: rgba(13, 110, 237, 1);
            font-weight: 700;
            font-style: normal;
            font-size: 18.00px;
            font-family: "NexaBold";
            letter-spacing: 0.23em;
            text-decoration: none;
            margin-left: -10px;
        }
        .freelanceOfficerRed {
            color: rgba(255, 92, 87, 1);
            font-weight: 700;
            font-style: normal;
            font-size: 18.00px;
            font-family: "NexaBold";
            letter-spacing: 0.23em;
            text-decoration: none;
            margin-left: -10px;
        }
        .freelanceOfficerYellow {
            color: rgba(244, 188, 51, 1);
            font-weight: 700;
            font-style: normal;
            font-size: 18.00px;
            font-family: "NexaBold";
            letter-spacing: 0.23em;
            text-decoration: none;
            margin-left: -10px;
        }
        .already-have-account {
            font-size: 15px;
            font-family: "NexaBook";
            color: #445980;
        }
        .connect-link {
            font-size: 15px;
            font-family: "NexaXBold";
            color: #0d6eed;
            font-weight: 700;
            text-decoration: underline;
        }
        p {
            font-family: "NexaLight";
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="fixed-action-btn smooth-scroll" style="top: 45px; right: 24px;">
            <a href="{{ path('index_presentation') }}" class="btn-floating btn d-flex align-items-center justify-content-center float-right mr-2 my-0">
                <i class="fal fa-times fa-2x text-black-50"></i>
            </a>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12 text-center my-5">
            <p class="text-center freelanceOfficerBlack">
                FREELANCE&nbsp;
                <strong class="freelanceOfficerBlue">OF </strong>
                <strong class="freelanceOfficerRed">FIC </strong>
                <strong class="freelanceOfficerYellow">ER</strong>
            </p>
        </div>
    </div>

    <div class="row pt-3">
        <p class="col-12 text-center">
            {{ 'resetting.check_email'|trans({'%email%': email}) }}
        </p>
    </div>
    <div class="row pt-3">
        <div class="col-12 text-center">
            <a class="connect-link" href="{{ path('app_login') }}">
                {{ 'layout.login'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
